<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Ruler.Wpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Ruler.Wpf.Common.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Ruler.Wpf.Properties.Settings>
            <setting name="RulerCollectionJson" serializeAs="String">
                <value />
            </setting>
            <setting name="MonitorCollectionJson" serializeAs="String">
                <value />
            </setting>
        </Ruler.Wpf.Properties.Settings>
        <Ruler.Wpf.Common.Settings>
            <setting name="size" serializeAs="String">
                <value>400,75</value>
            </setting>
            <setting name="height" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="width" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="location" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="vertical" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="topmost" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="tip" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="locked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="savetype" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="screen" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="opacity" serializeAs="String">
                <value>0.6</value>
            </setting>
            <setting name="left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RulerSettingsJson" serializeAs="String">
                <value>{}</value>
            </setting>
            <setting name="MonitorProfilesJson" serializeAs="String">
                <value>{}</value>
            </setting>
        </Ruler.Wpf.Common.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.3.0" newVersion="6.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.1" newVersion="10.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.HashCode" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>