<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Ruler.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>	
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>	
	<System.Windows.Forms.ApplicationConfigurationSection>
    <!--
      Specify the DPI awareness mode.
      'PerMonitorV2' is recommended for Windows 10 Creators Update (version 1703) and later,
      providing the best scaling experience across multiple monitors with different DPIs.
    -->
    <add key="DpiAwareness" value="PerMonitorV2" />

    <!--
      Optional: You can opt out of individual high DPI features if your application
      already handles them or if they cause issues.
      For example, to disable automatic resizing:
      <add key="EnableWindowsFormsHighDpiAutoResizing" value="false" />
    -->
  </System.Windows.Forms.ApplicationConfigurationSection>
	<userSettings>
		<Ruler.Settings>
   <setting name="size" serializeAs="String">
    <value>400, 75</value>
   </setting>
   <setting name="height" serializeAs="String">
    <value>75</value>
   </setting>
   <setting name="width" serializeAs="String">
    <value>400</value>
   </setting>
   <setting name="location" serializeAs="String">
    <value>0, 0</value>
   </setting>
   <setting name="vertical" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="top" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="tip" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="locked" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="savetype" serializeAs="String">
    <value>None</value>
   </setting>
   <setting name="screen" serializeAs="String">
    <value>""</value>
   </setting>
   <setting name="opacity" serializeAs="String">
    <value>0.6</value>
   </setting>
   <setting name="previousscale" serializeAs="String">
    <value>100</value>
   </setting>
  </Ruler.Settings>
	</userSettings>
 
</configuration>
